# ╭──────────────────────────────────────ImplementationGuide───────────────────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. For a list of       │
# │  supported properties, see: https://fshschool.org/docs/sushi/configuration/                    │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.au.draft.diagnostic-orders
canonical: http://draft.hl7.org.au/fhir/diagnostic-orders
name: DiagnosticOrders
title: Diagnostic Orders
status: draft
experimental: true
version: 0.0.1
license: CC0-1.0
fhirVersion: 4.0.1
copyrightYear: 2023+
releaseLabel: CI Build
publisher:
  name: Special Committee or Project or Initiative or Collective
  url: http://example.org/Special/committees/[something]

jurisdiction: urn:iso:std:iso:3166#AU

dependencies:
  hl7.fhir.au.base:
    version: 4.1.0-ballot
    uri: http://build.fhir.org/ig/hl7au/au-fhir-base/package.tgz

  hl7.fhir.au.core: dev

#  hl7.fhir.au.pd: current
#  au.csiro.fhir.au-primarycare: current
#  hl7.fhir.uv.sdc: current

# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │  To use a provided input/includes/menu.xml file, delete the "menu" property below.             │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯

#menu:
#  Home: index.html
#  Downloads: downloads.html
#  EBookings: ebookings.html
#  EOrders: eorders.html
#  Artifacts: 
#    Capability Statements: artifacts.html#behavior-capability-statements
#    Resources: artifacts.html#structures-resource-profiles
#    Data Types: artifacts.html#structures-data-type-profiles
#    Extensions: artifacts.html#structures-extension-definitions
#    Value Sets: artifacts.html#terminology-value-sets
#    Code Systems: artifacts.html#terminology-code-systems
#    Examples: artifacts.html#example-example-instances

# The resources property corresponds to IG.definition.resource.
# SUSHI can auto-generate all of the resource entries based on
# the FSH definitions and/or information in any user-provided
# JSON or XML resource files. If the generated entries are not
# sufficient or complete, however, the author can add entries
# here. If the reference matches a generated entry, it will
# replace the generated entry. If it doesn't match any generated
# entries, it will be added to the generated entries. The format
# follows IG.definition.resource with the following differences:
#   * use IG.definition.resource.reference.reference as the YAML key
#   * specify "omit" to omit a FSH-generated resource from the
#     resource list.
#   * groupingId can be used, but top-level groups syntax may be a
#     better option (see below).
# The following are simple examples to demonstrate what this might
# look like:
#
resources:
#   Patient/my-example-patient:
#     name: My Example Patient
#     description: An example Patient
#     exampleBoolean: true
#   Patient/bad-example: omit

  Bundle/d7661df8-6bb0-11ed-a340-acde48001122:
    name: Diagnostic Pathology Request Bundle
    description: Diagnostic Pathology Request Bundle example
    exampleBoolean: true
